
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food notes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
    }
    </style>


</head>

<body>
  <div class="jumbotron text-center">

    <h1>International Cuisine</h1>
    <p><a class="btn btn-danger" href="/add_data" role="button" style="font-size:30px;">Add dish</a></p>

    <p><a class="btn btn-danger" href="/delete_data" role="button" style="font-size:30px;">Delete dish</a></p>
    
    <p><a class="btn btn-danger" href="/view_data" role="button" style="font-size:30px;">View all dish names</a></p>
   
    <p><a class="btn btn-danger" href="/clean_data" role="button" style="font-size:30px;">Clean the existing table</a></p>

    <p><a class="btn btn-danger" href="/ingredient" role="button" style="font-size:30px;">Ingredient</a></p>




  </div>
</body>

</html>

